/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/docs/node_modules
/docs/src/.vitepress/cache
/docs/src/.vitepress/dist
/docs/dist
/dist
**/.DS_Store